pymupdf
pdfplumber
transformers
torch
accelerate
huggingface_hub
re
pdfreader
#server_requirements.txt
fastapi
uvicorn[standard]
llama-cpp-python
pydantic
requests # To download the model

# Dependencies for OCR and PDF processing
# pip install layoutparser "pytesseract" "pdf2image" "opencv-python-headless"
# pip install "layoutparser[layoutmodels]"
# sudo apt install tesseract-ocr poppler-utils